@font-face {
  font-family: Circular;
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local(''),
    url('/assets/fonts/circular/circular-std-medium.woff2') format('woff2');
}

@font-face {
  font-family: Circular;
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local(''),
    url('/assets/fonts/figtree/circular-std-bold.woff2') format('woff2');
}
