@media (prefers-reduced-motion: no-preference) {
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

.fade-in-bottom {
  opacity: 0;
  transform: translateY(1rem);
  animation-name: fadeInBottom;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0.05, 0.22, 1.2);
}

@keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
