.artists {
  --grid-min-item-size: max(8rem, 30%);
  --sidebar-target-width: max(20rem, 40%);
}

.artists img {
  filter: grayscale(100%);
}

.artists .aotd {
  background-color: var(--color-primary);
}
