.halftone {
  filter: contrast(1000%);
  overflow: hidden;
}

.halftone::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  bottom: -50%;
  right: -50%;
  background: radial-gradient(circle at center, #333, #fff);
  background-size: 0.2em 0.2em;
  transform: rotate(20deg);
}

.halftone img {
  mix-blend-mode: hard-light;
  filter: grayscale(1) brightness(90%) contrast(100%) blur(2px);
}
