.header {
  --wrap: nowrap;
  --gutter: 0;
  position: fixed;
  inset-block-end: 0;
  flex-wrap: nowrap;
  z-index: 2;
  transform: rotate(-2deg) translateX(-0.5rem) translateY(0.6rem);
  overflow-x: hidden;
}

.header > * {
  display: grid;
  place-items: center;
  background-color: var(--color-text);
  color: var(--color-bg);
  block-size: 3.8rem;
  padding-inline: var(--space-s);
  padding-block-start: 0.1rem;
  font-weight: var(--font-bold);
  text-transform: uppercase;
  border: 1px solid var(--color-bg);
  padding-inline: var(--space-s);
}

.header h1 {
  font-size: var(--size-step-3);
}

.header p {
  line-height: var(--leading-flat);
}

@media screen(md) {
  .header {
    position: fixed;
    inset-block-start: 0;
    inset-inline-end: 0;
    inset-block-end: auto;
    transform: rotate(-2.4deg) translateX(-1rem) translateY(0.2rem);
  }
}
