.site-footer {
  --region-space-bottom: var(--space-xl-3xl);
  --region-space-start: var(--space-xl);
  padding-inline: var(--space-l);
  /* margin-block-start: var(--space-l-xl); */
  /* padding: var(--space-s-m); */
  color: var(--color-text);
  font-size: var(--size-step-1);
}

.site-footer .footer__meta {
  --gutter: var(--space-xs);
  --cluster-horizontal-alignment: flex-start;
  transform: rotate(-2deg) translateX(-0.5rem) translateY(0.6rem);
}

/* increase tab size */
.site-footer .footer__meta a {
  padding: var(--space-xs);
}
/*
.site-footer svg {
  inline-size: 100%;
  block-size: auto;
}

@media screen(md) {
  .site-footer svg {
    inline-size: 65%;
    block-size: auto;
  }
} */
