/* Global variables.  */
/* The colors are defined in src/_data/designTokens/colors.js, using the colorjs.io package. */

/* Basic variable definitions for color schemes */
:root {
  color-scheme: light dark;
  --gutter: var(--space-xs-l);
  --border-radius: 0.1rem;
  --transition-duration: 250ms;
  --transition-timing: ease;
  --wrapper-width: 120rem;
  --tracking: -0.05ch;
  --tracking-s: -0.075ch;
  --tracking-wide: 0.05ch;
}

/* Default / Light theme specific variables */
:root,
:root[data-theme='light'] {
  --color-primary: var(--color-primary-highlight);
  --color-light: var(--color-primary-light);
  --color-dark: var(--color-primary-dark);
  --color-bg: var(--color-primary-light);
  --color-text: var(--color-primary-dark);
}

/* Dark theme specific variables based on system preference */
@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: var(--color-primary-desaturated);
    --color-bg: var(--color-primary-dark);
    --color-text: var(--color-primary-light);
  }
}

:root[data-theme='dark'] {
  --color-primary: var(--color-primary-desaturated);
  --color-bg: var(--color-primary-dark);
  --color-text: var(--color-primary-light);
}
