/* Base Styles */

custom-artist {
  --flow-space: var(--space-s);
  display: grid;
  grid-template-rows: [image] min-content [info] auto;
  color: var(--color-text);
  max-inline-size: unset;
}

.stage custom-artist {
  grid-template-columns: [image] 1fr [info] 2fr;
  grid-template-rows: [image info] auto;
  gap: var(--space-s);
  background-color: var(--color-primary);
  color: var(--color-base-light);
}

/* Hide elements  */

.stage custom-artist :is(.btn, .arrow) {
  display: none;
}

.artistlist :is(custom-audio, .spotify-link, .skip-link[href='#artistlist']) {
  display: none;
}

/* Part: Image  */

custom-artist picture {
  position: relative;
}

custom-artist img {
  inline-size: 100%;
  object-fit: cover;
  filter: grayscale(100%) sepia(10%);
}

.stage custom-artist img {
  aspect-ratio: 3 / 4;
}

.stage custom-artist picture::after {
  content: '';
  position: absolute;
  inset: 0;
  opacity: 0.7;
  mix-blend-mode: overlay;
  background-image: linear-gradient(to bottom, transparent, var(--color-primary));
}

/* Part: Info  */

custom-artist .info {
  position: relative;
  display: grid;
}

.stage custom-artist .info {
  padding-block-end: var(--space-m-l);
}

custom-artist h2 {
  --flow-space: 1rem;
  grid-row: 1;
  font-size: var(--size-step-1);
  text-transform: uppercase;
}

custom-artist h2 a {
  text-decoration: none;
}

.stage custom-artist h2 {
  font-size: var(--size-step-2);
  padding-inline: var(--space-s);
}

.artistlist custom-artist h2 {
  max-inline-size: 80%;
}

custom-artist .spotify-link {
  --flow-space: var(--space-xs-l);
  place-self: center;
  border: 1px solid currentColor;
  border-radius: 2rem;
  padding: var(--space-xs) var(--space-l-xl);
  font-weight: var(--font-bold);
  text-transform: uppercase;
  font-size: var(--size-step-min-1);
  text-decoration: none;
}

/* arrow */

custom-artist .arrow {
  display: grid;
  place-items: center;
  color: var(--color-bg);
  background-color: var(--color-text);
  border: 0;
  font-size: var(--size-step-3);
  position: absolute;
  inset-inline-end: 0.5ch;
  inset-block-start: -2.6ch;
  inline-size: 2ch;
  block-size: 2ch;
  border: 1px solid var(--color-bg);
}

/* clickable */

.artistlist custom-artist {
  position: relative;
  border: 2px solid transparent;
  cursor: pointer;
}

.artistlist custom-artist:focus-within {
  border: 2px solid var(--card-focus-border, var(--color-primary));
}

.artistlist custom-artist:focus-within a:focus {
  outline: none;
}

.artistlist custom-artist .arrow {
  transition: transform 0.2s ease;
}

.artistlist custom-artist[artist-staged] .arrow,
.artistlist custom-artist:hover .arrow {
  transform: translateX(0) translateY(-1ch);
}

.artistlist custom-artist[artist-staged] h2,
.artistlist custom-artist:hover h2 {
  color: var(--color-primary);
}

.artistlist custom-artist a:after {
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

/* modifiers */

.artistlist custom-artist[active-artist] {
  border: 2px solid var(--card-focus-border, var(--color-primary));
}

/*  Hide badge if not aotd and on stage */

custom-artist :is(.aotd) {
  display: none;
}

custom-artist[artist-of-the-day] .aotd {
  position: absolute;
  inset-block-end: -3%;
  inset-inline-end: 1%;
  block-size: 3ex;
  display: block;
  font-size: var(--size-step-icon);
  color: var(--color-primary);
  background-color: var(--color-base-light);
  padding: var(--space-xs);
  border-radius: 50%;
  transform: rotate(6deg);
  border: 1px solid var(--color-primary-glare);
}

.artistlist custom-artist[img-square] img {
  aspect-ratio: 1;
}

.artistlist custom-artist[img-5-4] img {
  aspect-ratio: 5 / 4;
}

.artistlist custom-artist[img-4-5] img {
  aspect-ratio: 4 / 5;
}

.artistlist custom-artist[img-keep] img {
  aspect-ratio: auto;
}

/* media breakpoint sm */

@media screen(sm) {
  .stage custom-artist {
    grid-template-columns: [image] 1fr [info] 4fr;
  }

  .stage custom-artist img {
    aspect-ratio: 4 / 5;
  }
}

/* media breakpoint md */

@media screen(md) {
  .stage custom-artist {
    grid-template-columns: 1fr;
    transition: transform 0.5s ease;
    transform: rotate(3deg) translateY(1.8rem);
  }

  .artistlist custom-artist .arrow svg {
    transform: rotate(90deg);
  }

  .artistlist custom-artist[artist-staged] .arrow,
  .artistlist custom-artist:hover .arrow {
    transform: translateY(0) translateX(1ch);
  }

  custom-artist[artist-of-the-day] .aotd {
    inset-block-start: -30%;
    inset-inline-end: 3%;
  }
}

@keyframes grow-x {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes shrink-x {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}
