/* component */

custom-artist-swap {
  display: grid;
  grid-template-columns: [header list stage] 1fr;
  align-items: start; /* Ensure that items align at the start */
  /* min-height: 100vh; */
}

custom-artist-swap .stage {
  position: sticky;
  top: 0;
  background-color: var(--color-bg);
  grid-column: stage;
  grid-row: 1;
  /* position: relative; */
  container-type: inline-size;
  display: block;
  padding-block-end: var(--space-xs-l);
}

custom-artist-swap .list {
  grid-column: list;
  grid-row: 2;
  /* overflow-y: auto; */
  /* max-height: 100vh; */
  /* scrollbar-width: none; */
  padding-inline: var(--space-xs-l);
}

custom-artist-swap .artistlist {
  --grid-min-item-size: clamp(10rem, 25cqi, 25%);
}

/* custom-artist-swap .list::-webkit-scrollbar {
  display: none; /
} */

/* Desktop Layout */

@media screen(md) {
  custom-artist-swap {
    grid-template-columns: [header list] auto [stage] 31%;
    gap: var(--space-xs);
  }

  custom-artist-swap .stage,
  custom-artist-swap .list {
    grid-row: 1;
    padding-block-end: 0;
  }

  custom-artist-swap .list {
    padding-block: var(--space-xs-l);
  }

  /* custom-artist-swap .header {
    place-self: start;
  } */

  custom-artist-swap .header {
    position: sticky;
    grid-column: header;
    grid-row: 1;
    place-self: start;
    transform: rotate(-2.4deg) translateX(-1rem) translateY(0.2rem);
  }
}

@media screen(lg) {
  custom-artist-swap {
    grid-template-columns: [list] auto [header stage] 31%;
    gap: var(--space-xs);
  }
}
