custom-audio {
  display: block;
  background: transparent;

  inline-size: 100%;
  display: grid;
  grid-template-columns: auto repeat(11, 1fr);
  align-items: center;
  gap: var(--space-s);
  color: var(--color-light);
}

custom-audio > * {
  margin-inline: var(--space-xs-s);
}

custom-audio .play-button {
  grid-row: 1 / span 2;
  font-size: var(--size-step-icon);
  cursor: pointer;
  background: none;
  inline-size: fit-content;
  border-radius: 50%;
  border: 3px solid currentColor;
  inline-size: 3ex;
}

custom-audio .play-button:focus-visible {
  outline: 2px solid;
  outline-offset: 0.1ch;
  outline-color: var(--color-primary-glare);
  background-color: var(--color-primary-glare);
}

custom-audio .play-button svg {
  block-size: 3ex;
  padding: var(--space-xs);
  border-radius: 50%;
}

custom-audio .track-info {
  grid-column: 2 / -1;
  grid-row: 1 / span 2;
  font-size: 16px;
  white-space: nowrap;
  font-size: var(--size-step-1);
  line-height: var(--leading-fine);
}
custom-audio .track-info p {
  /* avoid line breaks */
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

custom-audio .track-title {
  font-weight: bold;
}

custom-audio .progress-bar {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: var(--space-s);
  grid-column: 1 / -1;
}

custom-audio .current-time,
custom-audio .total-time {
  font-size: 12px;
}

custom-audio .preview-label {
  display: none;
}

custom-audio input[type='range'] {
  appearance: none;
  background: transparent;
  cursor: pointer;
  background-color: var(--color-primary-glare);
  block-size: 0.5rem;
  inline-size: 100%;
}

custom-audio input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  background-color: var(--color-light);
  block-size: 0.5rem;
  inline-size: 0.55rem;
}

/***** Firefox *****/
input[type='range']::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0; /*Removes default border-radius that FF applies*/
  background-color: var(--color-light);
  height: 0.5rem;
  inline-size: 0.5rem;
}

input[type='range']:focus {
  outline: none;
}

/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type='range']:focus::-webkit-slider-thumb {
  outline: 2px solid;
  outline-offset: 0.1ch;
  outline-color: var(--color-bg);
}

/******** Firefox ********/
input[type='range']:focus::-moz-range-thumb {
  outline: 2px solid;
  outline-offset: 0.1ch;
  outline-color: var(--color-bg);
}

@media screen(md) {
  custom-audio {
    border-block-start: 1px solid var(--color-primary-glare);
    padding-block-start: var(--space-s);
  }

  custom-audio .preview-label {
    display: block;
    grid-column: 1 / -1;
    text-align: center;
    font-style: italic;
    font-size: var(--size-step-min-1);
  }
}
