/* Base Styles */

custom-artist {
  display: grid;
  grid-template-rows: [image] max-content [meta] max-content;
  background-color: var(--color-bg-accent);
  color: var(--color-text);
  max-inline-size: unset;
  background-color: var(--color-primary);
}

.stage custom-artist {
  grid-template-columns: 1fr 2fr;
}

.stage custom-artist .btn {
  display: none;
}

custom-artist ::selection {
  color: var(--color-dark);
  background-color: var(--color-secondary);
}

custom-artist img {
  filter: grayscale(100%);
}

custom-artist h2 {
  font-size: var(--size-step-1);
  text-transform: uppercase;
  letter-spacing: var(--tracking-wide);
}

custom-artist h2 a {
  text-decoration: none;
}

custom-artist .meta {
  grid-row: meta;
  line-height: 1.3;
}

custom-artist .btn {
  padding: var(--space-xs);
  color: var(--color-bg);
  background-color: var(--color-text);
  border: 0;
  font-size: var(--size-step-base);
}

/* Small Variant */
@container (max-width: 200px) {
  custom-artist {
    --font-size: 0.5rem;
  }
}

/* Medium Variant */
/* @container ((min-width: 201px) and (max-width: 399px)) {
  custom-artist {
    --font-size: 1rem;
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
} */

/* Large Variant */
@container (min-width: 300px) {
  .stage custom-artist {
    grid-template-columns: 1fr;
    gap: var(--space-s);
    transition: transform 0.5s ease;
    transform: rotate(-3deg);
  }
}

@container (min-width: 800px) {
  custom-artist {
    transition: transform 0.5s ease;
    /* transform-style: preserve-3d; */
    transform: rotate(-3deg);
  }
}

/* clickable */

.artistlist custom-artist:hover,
.artistlist custom-artist:focus-within {
  border: 2px solid var(--card-focus-border, var(--color-primary));
}

.artistlist custom-artist:focus-within a:focus {
  outline: none;
}
.artistlist custom-artist {
  position: relative;
}
.artistlist custom-artist a:after {
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.artistlist :is(custom-audio, .spotify-link) {
  display: none;
}

/* modifiers */

.artistlist custom-artist[active-artist] {
  border: 2px solid var(--card-focus-border, var(--color-primary));
}

custom-artist[artist-of-the-day] {
  background-color: deeppink;
}
