---
layout: page
---

<h1>{{ artist.name }}</h1>

<img
  src="{{ artist.images[0].url }}"
  alt="{{ artist.name }}"
  width="{{ artist.images[0].width }}"
  height="{{ artist.images[0].height }}"
/>

<p>{{ artist | dump }}</p>
