{% set assetHash = helpers.random() %}

<!doctype html>
<html lang="{{ meta.lang }}">
  <!-- The order of elements in the head follows recommendations by Harry Roberts. learn more here: https://www.youtube.com/watch?v=MHyAOZ45vnU -->

  <head>
    <!-- charset/http-equiv/viewport -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- title -->
    <title>
      {% if discover.title %}
        {{ discover.title }}
      {% elif title %}
        {{ title }}
      {% else %}
        {{ meta.siteName }}
      {% endif %}
    </title>

    <!-- base href -->
    <base href="{{ page.url }}" />

    <!-- meta info -->
    {% include "head/meta-info.njk" %}

    <!-- synchronous js  -->
    {% include "head/js-inline.njk" %}

    <!-- schema -->
    {% include "head/schema.njk" %}

    <!-- CSS  -->
    {% include "head/css-inline.njk" %}

    <!-- preloads -->
    {% include "head/preloads.njk" %}

    <!-- defer js -->
    {% include "head/js-defer.njk" %}

    <!-- everything else: meta tags, icons, open graph etc.  -->
    {% include "partials/meta-info.njk" %}
  </head>

  <body class="{{ layout }}">
    {{ content | safe }}
  </body>
</html>
