---
layout: base
---

<article class="wrapper region">
  <ul class="grid mt-l-xl" role="list" data-rows="masonry" data-layout="50-50">
    {% set index = 0 %}
    {% for item in spotify.playlist %}
      <li class="card flow overflow-hidden">
        <h2>{{ item.track.name }}</h2>

        <figure>
          <figcaption>30 seconds for "{{ item.track.name }}":</figcaption>
          <audio controls src="{{ item.track.preview_url }}">
            <a href="{{ item.track.preview_url }}"> Download audio </a>
          </audio>
        </figure>

        <h3>artist info</h3>

        {% for artist in item.track.artists %}
          <p>Name: {{ artist.name }}</p>
          <p>
            Link to artist on spotify:
            <a href="{{ artist.external_urls.spotify }}">{{ artist.external_urls.spotify }}</a>
          </p>

          <p>
            Link to local detail page:
            <a href="/artists/{{ artist.name | slugify }}">/artists/{{ artist.name | slugify }}</a>
          </p>

          <p>
            <!-- access artist api! -->
            {% for artist in spotify.artistInfo %}

              {% if loop.index0 == index %}
                <p>Genres: {{ artist.genres }}</p>

                <!-- artist image -->

                <div class="halftone">
                  <img
                    src="{{ artist.images[0].url }}"
                    alt="{{ artist.name }}"
                    width="{{ artist.images[0].width }}"
                    height="{{ artist.images[0].height }}"
                  />
                </div>
              {% endif %}
            {% endfor %}
          </p>
        {% endfor %}
        <!-- end artist api -->

        <h3>album info</h3>

        <p>Name: {{ item.track.album.name }}</p>
        <p>tracks: {{ item.track.album.total_tracks }}</p>
        <p>type: {{ item.track.album.album_type }}</p>
        <p>release date: {{ item.track.album.release_date }}</p>

        <img
          src="{{ item.track.album.images[0].url }}"
          alt="{{ artist.name }}"
          width="{{ item.track.album.images[0].width }}"
          height="{{ item.track.album.images[0].height }}"
        />
      </li>
      {% set index = index + 1 %}
    {% endfor %}
  </ul>
</article>
