---
title: Test
layout: page
masonry: true
permalink: /test/index.html
---

<div class="grid" data-layout="50-50" data-rows="masonry">
  <custom-card equally-spaced>
    {% image "./src/assets/images/template/opengraph-default.jpg", "Close-up of a delicate white flower with a yellow center, surrounded by green leaves" %}

    <strong slot="named-slot">This is a named slot</strong>

    <span slot="date">18.02.1984</span>
    <span slot="tag" class="button post-tag">Technology</span>

    <h2 slot="headline">Red Hat</h2>

    <p slot="content">
      Red Hat's first logo appeared on an early invoice. It was a simple, bright red brimmed top hat placed
      above the words "Red Hat Software."
    </p>
  </custom-card>

  <custom-card equally-spaced>
    {% image "./src/assets/images/template/opengraph-default.jpg", "Close-up of a delicate white flower with a yellow center, surrounded by green leaves" %}

    <strong slot="named-slot">This is a named slot</strong>

    <span slot="date">18.02.1984</span>

    <p slot="content">
      Red Hat's first logo appeared on an early invoice. It was a simple, bright red brimmed top hat placed
      above the words "Red Hat Software."
    </p>

    <h2 slot="headline">Red Hat</h2>

    <footer slot="footer"><a href="#">Link</a></footer>
  </custom-card>

  <custom-card clickable img-square>
    {% image "./src/assets/images/template/opengraph-default.jpg", "Close-up of a delicate white flower with a yellow center, surrounded by green leaves" %}

    <strong slot="named-slot">This is a named slot</strong>

    <span slot="date">18.02.1984</span>
    <span slot="tag">Technology</span>

    <p slot="content">
      Red Hat's first logo appeared on an early invoice. It was a simple, bright red brimmed top hat placed
      above the words "Red Hat Software."
    </p>

    <h2 slot="headline">Red Hat</h2>
  </custom-card>

  <custom-card clickable>
    <strong slot="named-slot">This is a named slot</strong>

    <span slot="date">18.02.1984</span>
    <span slot="tag">Technology</span>

    <p slot="content">
      Red Hat's first logo appeared on an early invoice. It was a simple, bright red brimmed top hat placed
      above the words "Red Hat Software."
    </p>

    <h2 slot="headline">Red Hat</h2>

    <footer slot="footer"><a href="#">Link</a></footer>
  </custom-card>

  <custom-card clickable>
    {% image "./src/assets/images/template/opengraph-default.jpg", "Close-up of a delicate white flower with a yellow center, surrounded by green leaves" %}

    <strong slot="named-slot">This is a named slot</strong>

    <span slot="date">18.02.1984</span>
    <span slot="tag">Technology</span>

    <p slot="content">
      Red Hat's first logo appeared on an early invoice. It was a simple, bright red brimmed top hat placed
      above the words "Red Hat Software."
    </p>

    <h2 slot="headline">Red Hat</h2>

    <footer slot="footer"><a href="#">Link</a></footer>
  </custom-card>

  <custom-card clickable img-square>
    {% image "./src/assets/images/template/opengraph-default.jpg", "Close-up of a delicate white flower with a yellow center, surrounded by green leaves" %}

    <strong slot="named-slot">This is a named slot</strong>

    <span slot="date">18.02.1984</span>
    <span slot="tag">Technology</span>

    <p slot="content">
      Red Hat's first logo appeared on an early invoice. It was a simple, bright red brimmed top hat placed
      above the words "Red Hat Software."
    </p>

    <h2 slot="headline">Red Hat</h2>
  </custom-card>
</div>
