---
permalink: /humans.txt
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
/* TEAM */
Developer:
{{ meta.developer.name }}, {{ meta.developer.email }}
{% if meta.developer.social %}
  Find me on: {{ meta.developer.social }}
{% endif %}

Designer:
{{ meta.designer.name }}, {{ meta.designer.email }}

Site:{{ meta.author.website }}

/* SITE */ Doctype: HTML5
