{% svg "misc/cantautores", null, "site-logo" %}

<footer class="site-footer region">
  <div class="wrapper">
    <div class="footer__meta prose flow">
      {% renderFile "./src/_includes/contents/copyright.md" %}
      <p>Made with love by <a href="https://badwebsites.rip/">Lene&Dani</a> ♥♪.</p>

      <div class="cluster text-step-0">
        &copy; {% year %}
        <a href="/" {% if page.url == "/" %}aria-current="page"{% endif %}
          >{{ meta.siteName }} <small>{{ pkg.version }}</small>
        </a>
      </div>
    </div>
  </div>
</footer>
