<header class="grid">
  <a href="/" class="logo | cluster" {% if page.url == "/" %}aria-current="page"{% endif %}>
    <span>{{ meta.siteName }}</span>
  </a>

  <p>Music from spain</p>

  {% include 'components/theme-switch.njk' %}
</header>
